<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ShortcutCheatSheet</string>
    <key>CFBundleDisplayName</key>
    <string>ShortcutCheatSheet</string>
    <key>CFBundleExecutable</key>
    <string>ShortcutCheatSheet</string>
    <key>CFBundleIdentifier</key>
    <string>com.local.ShortcutCheatSheet</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSApplicationSceneManifest</key>
    <dict>
        <key>NSApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
</dict>
</plist>
